body { 
	background-color: black;
	font-family: 'Courier New', monospace;
	font-weight: bold;
}
img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
table {
	table-layout: fixed;
	width: 760px;
	border-spacing: 0;
}
canvas {
	border: 5px solid blue;
}
td { 
	width: 185px;
	font-size: 1.5em;
	text-align: center;
}
h3 {
	color: red;
	text-align: center;
	font-size: 1.5em;
	margin-bottom: 0.5em;
}
#labels {
	color: blue;
}
#controls {
	color: red;
}
#score_label {
	vertical-align: top;
}
#values {
	color: red;
}
.content {
	max-width: 760px;
	margin: auto;
}
.control_label {
	color: blue;
	font-size: 1.2em;	
}
.control_description {
	font-size: 1.2em;	
}
